html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background-color: darkorange;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main section {
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vh;
    transition: all ease-out 1s;
}
section#idiom {
    font-family: 'Indie Flower', cursive;
    background-color: royalblue;
    height: 100%;
}
section#meaning {
    font-family: 'Baloo 2', cursive;
    color: darkorange;
    height: 0%;
    display: none;
}
button {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 2em;
    background: none;
}
footer {
    font-size: 1em;
}
button.ok {
    bottom: 2em;
    right: 1em;
}
button.ok + span {         
    font-family: Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
    position: absolute;
    bottom: 1em;
    right: 2em;
    background: none;
}

button.no {
    bottom: 2em;
    left: 1em;
}
button.no + span {         
    font-family: Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
    position: absolute;
    bottom: 1em;
    left: 2em;
    background: none;
}

button.meh {
    bottom: 2em;
    left: calc(50% - 32px);            
}
button.meh + span {         
    font-family: Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
    position: absolute;
    bottom: 1em;
    left: calc(50% - 32px - 1em);    
    background: none;
}

footer {
    display: none;
    transition: opacity ease-in-out 1s;
}